<html>
    <head>
        <title>Annerein's blog</title>
    </head>
    <body>
    	<p>Hey, het lukt!</p>
    	<p>Dit blog is van Annerein</p>
    </body>
</html>

<html>
    <head>
        <title>Annerein's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Annerein's blog</a></h1>
        </div>

        <div>
            <p>Ik ben begonnen met een 'blog' maken</p>
            <h2><a href="">Ik ben Annerein</a></h2>
            <p>IK be nANnerein en ben 14 jaar. Ik heb dit blog gemaakt bij djangogirls.</p>
        </div>

        <div>
            <p>published: 20-05-2017 16:07</p>
            <h2><a href="">My second post</a></h2>
            <p>Iki be n heel erg blijd at dit is gelukt. Ik moet het alleen nog even mooi maken!</p>
        </div>
    </body>
</html>